*.4ct
*.4tc
*.aux
*.css
*.dvi
*.fdb_latexmk
*.html
*.idv
*.lg
*.log
*.out
*.tmp
*.xref
*.auxlock
*.bbl
*.blg
*.figlist
*.makefile
*.aux
*.bcf
*.run.xml
*.idx
*.dep
*.toc
*.dpth
.RData
.Rhistory
snlp-notes-tags.tex
snlp-notes.pdf
figures/*.pdf
figures/*.md5
figure/*contour_contourtmp*
gitHeadInfo.gin
version.tex
*contourtmp*
